body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(circle at top left, #3498db, #2c3e50);
    color: black;
    transition: background 0.5s ease-in-out;
}

.container {
    display: flex;
    height: 100vh;
}

aside {
    width: 25%;
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 15px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    display: block;
    padding: 15px;
    border-radius: 10px;
    background: #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu a:hover {
    color: #ecf0f1;
    background: #2c3e50;
}

.main {
    width: 75%;
    background-color: #ecf0f1;
    padding: 30px;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
}

header {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 2px solid #3498db;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
